:root{
    --primary: #2563EB;      
    --primary-dark: #1D4ED8;
    --secondary: #F97316;    

    --bg-color: #F8FAFC;
    --card-bg: #FFFFFF;

    --text-primary: #1E293B;
    --text-secondary: #64748B;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

input,
select,
button {
    padding: 10px;
    margin: 10px;
}

button {
    cursor: pointer;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    background-color: green;
}